In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
df = pd.read_csv('/content/UKSPA.csv')

In [3]:
df.head()

    Latitude  Longitude
0  51.809568  -0.356322
1  51.796893  -0.200595
2  52.454008  -1.933663
3  52.397038  -1.986171
4  52.488656  -1.887221

In [0]:
from sklearn.linear_model import LinearRegression

In [5]:
lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
X = df[['Longitude']]
Y = df['Latitude']

In [7]:
lm.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
Yhat=lm.predict(X)
Yhat[0:5]

array([52.35398724, 52.38470336, 52.04286654, 52.03250978, 52.05202694])

In [9]:
lm.intercept_

52.424269571093575

In [10]:
lm.coef_

array([0.19724379])

In [0]:
Z = df[['Latitude', 'Longitude']]

In [12]:
lm.fit(Z, df['Latitude'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
Y_hat = lm.predict(Z)

In [14]:
print('The output of the first four predicted value is: ', Yhat[0:4])

The output of the first four predicted value is:  [52.35398724 52.38470336 52.04286654 52.03250978]